# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/docs
!/.github
!/.vscode
!tsconfig.json
!astro.config.ts
!astro-paper.config.ts
!package.json
!.prettierrc
!eslint.config.js
!README.md

# Ignore MDX files
*.mdx